
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.poster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poster h3, .poster p {
  margin: 0;
  padding-bottom: 5px;
}

.moviesList {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minMax(200px, 1fr));
  gap: 20px;
}